*{
    margin: 0;
    padding:0;
}

nav{
    /* background-color: #72ddf7; */
    color:black;
    border:2px solid #f3f3f3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:20px;
    z-index: 20;
}


.search-input{
    padding: 12px 20px;
    border: none;
    background: #f7f6f6;
    outline: none;  
    margin-right: 20px;
    border-radius: 5px;
    position: relative;
    width: 14rem;
}


.nav-icon{
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 2rem;
}

